/**
 * Place your custom CSS styles here.
 **/

 #dd-wrapper{
   position: fixed;
   bottom: 1rem;
   left: 1rem;
   max-width: 600px;
   padding: .5rem;
   background: #FFF;
 }

 #dd-wrapper iframe{
   max-width: 100%;
 }
 #dd-close{
   position: absolute;
   padding: .5rem;
   right: 0;
   top: 0;
   color: white;
   z-index: 1;
   cursor: pointer;
 }